
Package: gpio-mqtt
Version: 0.0.5
Section: embedded
Priority: optional
Depends: python3 (>= 3.9)
Maintainer: STDU Zhukov Sergey <graunter@gmail.com>
Architecture: all
Installed-Size: 8000
Description: Service for controllers pins monitoring and handling
