
Package: gpio-mqtt
Version: 0.1.1-rc1
Section: embedded
Priority: optional
Depends: libc6 (>= 2.31)
Maintainer: STDU Zhukov Sergey <graunter@gmail.com>
Architecture: all
Installed-Size: 11000
Description: Service for controllers pins monitoring and handling
